/*INVALID FIELD*/
input.ng-invalid.ng-dirty {
    background-color: red;
    color: #ffffff;
    border-color: #FA4137;
}

/*VALID FIELD*/
input.ng-valid.ng-dirty {
    background-color: green;
    color: #ffffff;
    border-color: #078C00;
}

/*PANEL*/
.custom-panel {
	background-color: #F2F2F2;
	padding: 20px;
	border-radius: 5px;
	border: solid 1px #BABABA;
	margin-top: 20px;
}

.custome-panel-header,
.custome-panel-content {
	padding: 20px;
	border-radius: 5px;
	margin: 10px;
	border: solid 1px #BABABA;
}

.custome-panel-header {
	background-color: #dff0d8;
}

.custome-panel-content {
	background-color: #d9edf7;
}


/*SPINNER*/
.spinner {
  margin: 100px auto;
  width: 150px;
  height: 70px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 20px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}