<div>
	<div ng-transclude></div>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="customer in customers">
				<td><div edit="customer.name" callback="update(customer)"></div></td>
				<td><div edit="customer.address" callback="update(customer)"></div></td>
				<td><div edit="customer.email" callback="update(customer)"></div></td>
			</tr>
		</tbody>
	</table>
</div>