<!DOCTYPE html>
<html>
<head>
	<title>AngularJS Forms</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body ng-app="App" class="container">
	<div ng-controller="CustomerController">
		<form name="customerForm" ng-submit="createCustomer()" novalidate>
		   <!-- NAME -->
		   <div class="form-group" ng-class="{ 'has-error' : customerForm.name.$invalid && !customerForm.name.$pristine }">
		      <label>Name</label>
		      <input type="text" name="name" class="form-control" ng-model="customer.name" required>
		      <p ng-show="customerForm.name.$invalid && !customerForm.name.$pristine" class="help-block">You name is required.</p>
		   </div>
		   <!-- ADDRESS -->
		   <div class="form-group" ng-class="{ 'has-error' : customerForm.address.$invalid && !customerForm.address.$pristine }">
		      <label>Address</label>
		      <input type="text" name="address" class="form-control" ng-model="customer.address" ng-minlength="3" ng-maxlength="8">
		      <p ng-show="customerForm.address.$error.minlength" class="help-block">Address is too short.</p>
		      <p ng-show="customerForm.address.$error.maxlength" class="help-block">Address is too long.</p>
		   </div>
		   <!-- EMAIL -->
		   <div class="form-group" ng-class="{ 'has-error' : customerForm.email.$invalid && !customerForm.email.$pristine }">
		      <label>Email</label>
		      <input type="email" name="email" class="form-control" ng-model="customer.email">
		      <p ng-show="customerForm.email.$invalid && !customerForm.email.$pristine" class="help-block">Enter a valid email.</p>
		   </div>
		   <button type="submit" class="btn btn-primary" ng-disabled="customerForm.$invalid">Submit</button>
		</form>
	</div>
</body>
</html>