/*INVALID FIELD*/
input.ng-invalid.ng-dirty {
	background-color: red;
    color: #ffffff;
    border-color: #FA4137;
}

/*VALID FIELD*/
input.ng-valid.ng-dirty {
	background-color: green;
    color: #ffffff;
    border-color: #078C00;
}