<!DOCTYPE html>
<html>
	<head>
		<title>AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script type="text/javascript" src="script.js"></script>
	</head>
	<body ng-app="App">
		<div ng-controller="CustomerController">
			<form ng-submit="createCustomer()">
				<label>Name</label>
				<input type="text" ng-model="customer.name"/>
				<label>Address</label>
				<input type="text" ng-model="customer.address"/>
				<label>Email</label>
				<input type="text" ng-model="customer.email"/>
				<input type="submit" value="Create Customer"/>
			</form>
		</div>
	</body>
</html>