<!DOCTYPE html>
<html>
<head>
	<title>AngularJS</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script type="text/javascript" src="script.js"></script>
</head>
<body style="padding-top: 40px;" ng-app="App" class="container">
	<div ng-controller="CustomerController">
		<form name="customerForm" ng-submit="createCustomer()" novalidate>
		   <!-- NAME -->
		   <div class="form-group" ng-class="{ 'has-error' : customerForm.name.$invalid && !customerForm.name.$pristine }">
		      <label>Name</label>
		      <input type="text" name="name" class="form-control" ng-model="customer.name" required>
		      <p ng-show="customerForm.name.$invalid && !customerForm.name.$pristine" class="help-block">You name is required.</p>
		   </div>
		   <!-- ADDRESS -->
		   <div class="form-group" ng-class="{ 'has-error' : customerForm.address.$invalid && !customerForm.address.$pristine }">
		      <label>Address</label>
		      <input type="text" name="address" class="form-control" ng-model="customer.address" ng-minlength="3" ng-maxlength="8">
		      <p ng-show="customerForm.address.$error.minlength" class="help-block">Address is too short.</p>
		      <p ng-show="customerForm.address.$error.maxlength" class="help-block">Address is too long.</p>
		   </div>
		   <!-- EMAIL -->
		   <div class="form-group" ng-class="{ 'has-error' : customerForm.email.$invalid && !customerForm.email.$pristine }">
		      <label>Email</label>
		      <input type="email" name="email" class="form-control" ng-model="customer.email">
		      <p ng-show="customerForm.email.$invalid && !customerForm.email.$pristine" class="help-block">Enter a valid email.</p>
		   </div>
		   <button type="submit" class="btn btn-primary" ng-disabled="customerForm.$invalid">Submit</button>
		</form>
		<!-- VALIDATION TABLES ======== -->    
		<div class="row">
		   <div class="col-xs-3">
		      <h3>Form</h3>
		      <table class="table table-bordered">
		         <tbody>
		            <tr>
		               <td ng-class="{ success: customerForm.$valid, danger: customerForm.$invalid }">Valid</td>
		            </tr>
		            <tr>
		               <td ng-class="{ success: customerForm.$pristine, danger: !customerForm.$pristine }">Pristine</td>
		            </tr>
		            <tr>
		               <td ng-class="{ success: customerFormcustomerForm.$dirty }">Dirty</td>
		            </tr>
		         </tbody>
		      </table>
		   </div>
		   <div class="col-xs-3">
		      <h3>Name</h3>
		      <table class="table table-bordered">
		         <tbody>
		            <tr>
		               <td ng-class="{ success: customerForm.name.$valid, danger: customerForm.name.$invalid }">Valid</td>
		            </tr>
		            <tr>
		               <td ng-class="{ success: customerForm.name.$pristine, danger: !customerForm.name.$pristine }">Pristine</td>
		            </tr>
		            <tr>
		               <td ng-class="{ success: customerForm.name.$dirty }">Dirty</td>
		            </tr>
		            <tr>
		               <td ng-class="{ success: customerForm.name.$touched }">Touched</td>
		            </tr>
		         </tbody>
		      </table>
		   </div>
		   <div class="col-xs-3">
		      <h3>Address</h3>
		      <table class="table table-bordered">
		         <tbody>
		            <tr>
		               <td ng-class="{ success: customerForm.address.$valid, danger: customerForm.address.$invalid }">Valid</td>
		            </tr>
		            <tr>
		               <td ng-class="{ success: customerForm.address.$pristine, danger: !customerForm.address.$pristine }">Pristine</td>
		            </tr>
		            <tr>
		               <td ng-class="{ success: customerForm.address.$dirty }">Dirty</td>
		            </tr>
		            <tr>
		               <td ng-class="{ success: customerForm.address.$touched }">Touched</td>
		            </tr>
		         </tbody>
		      </table>
		   </div>
		   <div class="col-xs-3">
		      <h3>Email</h3>
		      <table class="table table-bordered">
		         <tbody>
		            <tr>
		               <td ng-class="{ success: customerForm.email.$valid, danger: customerForm.email.$invalid }">Valid</td>
		            </tr>
		            <tr>
		               <td ng-class="{ success: customerForm.email.$pristine, danger: !customerForm.email.$pristine }">Pristine</td>
		            </tr>
		            <tr>
		               <td ng-class="{ success: customerForm.email.$dirty }">Dirty</td>
		            </tr>
		            <tr>
		               <td ng-class="{ success: customerForm.email.$touched }">Touched</td>
		            </tr>
		         </tbody>
		      </table>
		   </div>
		</div>
	</div>
</body>
</html>