<div>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Address</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="customer in customers">
				<td>{{customer.name}}</td>
				<td>{{customer.address}}</td>
				<td>{{customer.email}}</td>
			</tr>
		</tbody>
	</table>
</div>