<!DOCTYPE html>
<html>
	<head>
		<title>AngularJS</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script type="text/javascript" src="script.js"></script>
	</head>
	<body ng-app="App">
		<div ng-controller="CustomerController">
			<form name="customerForm" ng-submit="createCustomer()">
				<label>Name</label>
				<input type="text" ng-model="customer.name" required/>
				<label>Address</label>
				<input type="text" ng-model="customer.address" required/>
				<label>Email</label>
				<input type="text" ng-model="customer.email" required/>
				<input ng-disabled="customerForm.$invalid" type="submit" value="Create Customer"/>
			</form>
		</div>
	</body>
</html>