<div>
    <panel ng-if="isLoading">
        <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>    
    </panel>
    <div ng-if="!isLoading" class="content">
        <panel>
            <panel-header>
                <h1>{{customer.name}}</h1>
            </panel-header>
            <panel-content content-title="Customer Details">
                <h3>Address: {{customer.address}}</h3>
                <h3>Email: {{customer.email}}</h3>
                <div>
                    <h3>Products: </h3>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="product in products">{{product}}</li>
                    </ul>
                </div>
                <a href="#/"><input type="button" value="Back To Customer" class="btn btn-primary"/></a>
            </panel-content>
        </panel>
    </div>
</div>