<panel>
    <panel-header>
        <h1>{{customer.name}}</h1>
    </panel-header>
    <panel-content content-title="Customer Details">
        <h3>Address: {{customer.address}}</h3>
        <h3>Email: {{customer.email}}</h3>
        <a href="#/"><input type="button" value="Back To Customer" class="btn btn-primary"/></a>
    </panel-content>
</panel>