/*INVALID FIELD*/
input.ng-invalid.ng-dirty {
    background-color: red;
    color: #ffffff;
    border-color: #FA4137;
}

/*VALID FIELD*/
input.ng-valid.ng-dirty {
    background-color: green;
    color: #ffffff;
    border-color: #078C00;
}

/*PANEL*/
.custom-panel {
	background-color: #F2F2F2;
	padding: 20px;
	border-radius: 5px;
	border: solid 1px #BABABA;
	margin-top: 20px;
}

.custome-panel-header,
.custome-panel-content {
	padding: 20px;
	border-radius: 5px;
	margin: 10px;
	border: solid 1px #BABABA;
}

.custome-panel-header {
	background-color: #dff0d8;
}

.custome-panel-content {
	background-color: #d9edf7;
}